/* Stellt sicher, dass der Box-Model-Bereich die Rahmen und Innenabstände einschließt */
* {
  box-sizing: border-box;
}

/* Hintergrundbild für die Webseite einstellen */
body {
  background: url("./Pictures/background.jpg");
}

/* Wrapper für das Hauptlayout der Seite */
#wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Spielbereich als Inline-Gitter anzeigen */
#game {
  position: relative;
  display: inline-grid;
  background: black;
}

/* Stil für den Status des Spiels wie "Spiel gewonnen" oder "Spiel vorbei" */
.game-status {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  border: 5px darkblue solid;
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

/* Stil für die Anzeige der Punktzahl */
#score {
  position: absolute; /* Setze auf absolute Positionierung */
  top: 10px; /* Positioniere es nahe der Oberkante */
  left: 10px; /* Positioniere es nahe der linken Seite */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border: 5px darkblue solid;
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin-top: 0; /* Entferne den vorherigen Abstand */
}

/* Stil für den Start-Button */
#start-button {
  margin-top: 20px;
}

/* Klasse zum Verstecken eines Elements */
.hide {
  display: none;
}

/* Stil für quadratische Elemente */
.square {
  display: block;
}

/* Stil für leere Bereiche im Spiel */
.blank {
  background: black;
}

/* Stil für die Wände im Spiel */
.wall {
  border: 1px solid blue;
}

/* Stil für Punkte im Spiel */
.dot {
  background: white;
  border: 8px solid black;
  border-radius: 50%;
}

/* Stil für Pillen im Spiel */
.pill {
  background: white;
  border: 5px solid black;
  border-radius: 50%;
}

/* Stil für Geister im Spiel */
.ghost {
  position: relative;
  border-radius: 10px 10px 2px 2px;
  border: none;
}

/* Stil für die Augen der Geister */
.ghost::before {
  content: '';
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  background: black;
  border-radius: 50%;
  left: 3px;
  top: 5px;
  border: 2px solid white;
}

.ghost::after {
  content: '';
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  background: black;
  border-radius: 50%;
  right: 3px;
  top: 5px;
  border: 2px solid white;
}

/* Stil für verängstigte Geister */
.scared {
  background: blue !important;
}

/* Stil für Blinky-Geist */
.blinky {
  background-image: url("./Pictures/AlvinPacman1.png"); /* Pfad zum Bild von Blinky */
  background-size: cover; /* Das Bild soll den gesamten Block abdecken */
  width: 20px; /* Setzen Sie die Breite des Bildes */
  height: 20px; /* Setzen Sie die Höhe des Bildes */
  border-radius: 10px 10px 2px 2px; /* Falls Sie eine Abrundung benötigen */
  border: none; /* Entfernen Sie den Rahmen, wenn er nicht benötigt wird */
}

/* Stil für Pinky-Geist */
.pinky {
  background-image: url('./Pictures/ArtemPacman1.png'); /* Pfad zum Bild von Pinky */
  background-size: cover;
  width: 20px; /* Setzen Sie die Breite des Bildes */
  height: 20px; /* Setzen Sie die Höhe des Bildes */
  border-radius: 10px 10px 2px 2px;
  border: none;
}

/* Stil für Inky-Geist */
.inky {
  background-image: url('./Pictures/Screenshot_69.png'); /* Pfad zum Bild von Inky */
  background-size: cover;
  width: 20px; /* Setzen Sie die Breite des Bildes */
  height: 20px; /* Setzen Sie die Höhe des Bildes */
  border-radius: 10px 10px 2px 2px;
  border: none;
}

/* Stil für Clyde-Geist */
.clyde {
  background-image: url('./Pictures/Marcel.png'); /* Pfad zum Bild von Clyde */
  background-size: cover;
  width: 20px; /* Setzen Sie die Breite des Bildes */
  height: 20px; /* Setzen Sie die Höhe des Bildes */
  border-radius: 10px 10px 2px 2px;
  border: none;
}

/* Stil für Pacman */
.pacman {
  background: yellow;
  border: none;
  border-radius: 50%;
  clip-path: polygon(
    0 0,
    20px 0,
    20px -5px,
    8px 10px,
    20px 25px,
    20px 20px,
    0 20px
  );
  animation: chew 0.2s linear forwards infinite;
}

/* Animation für Pacman-Kauen */
@keyframes chew {
  50% {
    clip-path: polygon(
      0 0,
      20px 0,
      20px 10px,
      8px 10px,
      20px 10px,
      20px 20px,
      0 20px
    );
  }
}

/* Stil für den Titel der High Scores */
.h2 {
  position: absolute; /* Setze Position auf absolut */
  top: 10px; /* Positioniere es nahe der Oberkante */
  right: 10px; /* Positioniere es nahe der rechten Seite */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border: 5px darkblue solid;
  background: black;
  margin-top: 0; 
}

/* Stil für die Liste der High Scores */
.h3 {
  position: absolute; /* Setze Position auf absolut */
  top: 50px; /* Positioniere es nahe der Oberkante */
  right: 10px; /* Positioniere es nahe der rechten Seite */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: white;
}
